td {
  text-align: center;
  font-size: 22px;
  font-weight: inherit;
  width: 2000px;
  height: auto;
  position: relative;
}
table {
  border-collapse: collapse;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 528px;
  border-style: hidden; /* hide standard table (collapsed) border */
  overflow: hidden;
}
