td {
  text-align: center;
  font-size: 22px;
  font-weight: inherit;
  width: 2000px;
  height: auto;
  position: relative;
}
table {
  bottom: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100vw - 32px);
  border-collapse: collapse;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: 528px;
  border-style: hidden; /* hide standard table (collapsed) border */
  overflow: hidden;
}
