td {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  width: 2000px;
  border: 1px solid black;
}
th {
  border: 1px solid black;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  height: calc(100vh - 250px);
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px black; /* this draws the table border  */
}
